header, footer {
  text-align: center;
}

main {
  background-color: silver;
  display: flex;
}

main > div {
  margin: 0;
  transition: width .5s;
}

.cell {
  box-sizing: border-box;
  border: 6px solid silver;
  overflow: hidden;
  display: grid;
  transition: height .5s;
}

.page {
  height: fit-content;
  min-height: 4em;
  background-color: white;
  font-feature-settings: "palt";
}
