header, footer {
  text-align: center;
}

main {
  background-color: silver;
  display: flex;
}

main > div {
  margin: 0;
  transition: width .5s;
}

.cell {
  box-sizing: border-box;
  border: 6px solid silver;
  overflow: hidden;
  display: grid;
  transition: height .5s;
}

.page {
  height: fit-content;
  min-height: 6em;
  background-color: white;
  font-feature-settings: "palt";
}

h2 {
  margin: 0;
  transition: font-size .2s;
}
p {
  transition: margin .2s;
}

.collapsed h2 {
  font-size: 1rem;
}
.collapsed p {
  margin: 0;
}

