main {
  background-color: silver;
  display: flex;
}

main > div {
  margin: 0;
  transition: width .5s;
}

.cell {
  transition: height .5s;
  overflow: hidden;
  display: grid;
}

.page {
  margin: 6px;
  height: fit-content;
  min-height: 4em;
  background-color: white;
}
